.app {
	display : grid ;
	width: 100vw ;
	font-family: 'Spartan', sans-serif;
	overflow-x: hidden 
}

.app-top , .app-bottom {
	display: grid ;
	width: 100vw ;
}

.app-top-left {
	position: relative ;
}

.app-top {
	grid-template-columns: 60% 40% ;
	max-height : 90vh ;
}

.app-bottom {
	background-color: white ;
	grid-template-columns: 30% 40% 30% ;
}

.app-bottom > div {
	display: flex ;
	flex-direction:column ;
	align-items: center ;