.app {
    font-family: 'Poppins', sans-serif;
    background-color: white ;
    font-family: 'Open Sans', sans-serif;
}

/*
- Pink: hsl(322, 100%, 66%)
- Light Pink: hsl(321, 100%, 78%)
- Light Red: hsl(0, 100%, 63%)
- Very Dark Cyan: hsl(192, 100%, 9%)
- Very Pale Blue: hsl(207, 100%, 98%)

*/