html {
  scroll-behavior: smooth !important ;
}

.app {
    font-family: 'Poppins', sans-serif;
    background-color: white ;
    font-family: 'Raleway', sans-serif;
}
.app a {
  text-decoration: none ;
}
.app video {
  position: absolute ;
  top: 0 ;
  right: 0 ;
  left: 0 ;
  width: 100% ;
  height: 100vh ;
  z-index: 1 ;
  object-fit: cover
}


/*
- Pink: hsl(322, 100%, 66%)
- Light Pink: hsl(321, 100%, 78%)
- Light Red: hsl(0, 100%, 63%)
- Very Dark Cyan: hsl(192, 100%, 9%)
- Very Pale Blue: hsl(207, 100%, 98%)

*/
